*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
}
.center{
	margin-top: 61px;
}
h1,h2{
	font-weight: 400;
}
/*-----------------------------center_top--------------------------*/
.center_top{
	width: 100%;
	height: 700px;
	background: no-repeat center center;
	background-size: cover;
}
.center_top_all{
	width: 1170px;
	height: 100%;
	margin: 0 auto;
	display: table;
}
.center_top_div{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.center_top_div h1{
	font-size: 50px;
	line-height: 60px;
	color: white;
}
.center_top_div h2{
	margin-top: 20px;
    font-size: 30px;
    line-height: 34px;
	color: white;
}
/*-------------------------------center_middle---------------------------*/
.center_middle{
	width: 100%;
	height: 600px;
	background-size: 526px 329px;
    background: no-repeat center bottom;
}
.center_middle_all{
	width: 1170px;
	height: 176px;
	margin: 0 auto;
	display: table;
}
.center_middle_div{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.center_middle_div h1{
	font-size: 38px;
    line-height: 38px;
}
.center_middle_div h2{
	margin-top: 20px;
    font-size: 16px;
    line-height: 18px;
    font-family: GothamLight;
}
/*---------------------------------center_bottom------------------------------------*/
.center_bottom,.center_footer{
	width: 100%;
	height: 600px;
	background: no-repeat center center;
	background-size: cover;
}
.center_bottom_all{
	width: 1170px;
	height: 250px;
	margin: 0 auto;
	display: table;
}
.center_bottom_div{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.center_bottom_div h1{
	font-size: 33px;
    line-height: 38px;
    color: white;
}
.center_bottom_div h2{
	margin-top: 20px;
    font-size: 16px;
    line-height: 18px;
    font-family: GothamLight;
    color: white;
}
.center_footer_all{
	width: 1170px;
	height: 100%;
	margin: 0 auto;
	display: table;
}
.center_footer_div{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.center_footer_div h1{
	font-size: 38px;
    line-height: 38px;
}
.center_footer_div h2{
	margin-top: 20px;
    font-size: 16px;
    line-height: 18px;
    font-family: GothamLight;
}
.center_footer_div a{
	color: white;
    display: inline-block;
    width: 280px;
    height: 60px;
    font-size: 22px;
    background: #00adee;
    line-height: 60px;
    border-radius: 30px;
    margin-top: 120px;
}
@media only screen and (min-width: 980px) and (max-width: 1200px) {
	.center_top_all,.center_middle_all,.center_bottom_all,.center_footer_all{
		width: 940px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 980px) {
	.center_top_all,.center_middle_all,.center_bottom_all,.center_footer_all{
		width: 768px;
	}
}
@media only screen and (max-width: 768px) {
	.center_top_all,.center_middle_all,.center_bottom_all,.center_footer_all{
		width: 100%;
	}
}